.navList {
  vertical-align: middle;
  display: inline-block;
  list-style: none;
  line-height: 2.3em;
  white-space: nowrap;
  font-size: 22px;
  margin: auto;
}

.inlineLink {
  color: blue;
  text-decoration: none;
}

.navLink p {
  text-decoration: none;
  color: inherit;
  margin: 0;
  display: inline;
}

.navLink a {
  color: #4d4d4d;
  position: relative;
  text-decoration: none;
  padding: 7px 10px;
  margin: 3px;
  cursor: pointer;
  font-weight: 400;
  font-size: 1.1em;
}

.navLink a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  border-radius: 5px;
  height: 0.1em;
  bottom: 0;
  left: 0;
  background: currentColor;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.navLink a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navLinkActive a {
  color: var(--titleColor);
  border-radius: 8px;
}

.navLinkActive a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(1);
  border-radius: 5px;
  height: 0.1em;
  bottom: 0;
  left: 0;
  background: var(--titleColor);
}

.articleLink {
  text-decoration: none;
  color: inherit;
}

/* Nav Menu */
.navbarIcon {
  position: fixed;
  right: 0.8em;
  top: 0.8em;
  z-index: 201;
}

.navMenu {
  background-color: var(--backgroundColor);
  width: 200px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  right: -100%;
  top: 0;
  transition: 350ms ease;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  z-index: 200;
}

.navMenuActive {
  background-color: var(--backgroundColor);
  width: 230px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: fixed;
  right: 0;
  top: 0;
  transition: 350ms ease;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  z-index: 200;
  padding: 0;
}

.navMenuItems {
  width: 100%;
  padding: 0;
  margin: 0;
}

.navLinkFixed {
  justify-content: center;
  vertical-align: center;
  align-items: center;
  list-style: none;
  height: 40px;
}

.navLinkFixed a {
  width: 60px;
}

.navText {
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  height: 60px;
}

.navText a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  margin: 0;
  border-radius: 4px;
  cursor: pointer;
}

.navText a:hover {
  color: black;
  background-color: var(--secondaryColor);
}

.navTextItems {
  width: 100%;
}

.titleTravelers .titleTravelers .socialMenu {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.socialMenu a {
  position: relative;
  display: inline-block;
  transition: background-color 0.3s ease;
  border-radius: 7px;
  padding: 5px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.socialMenu a img {
  width: 40px;
  height: 40px;
  border-radius: 7px;
}

.socialMenu a:hover {
  background-color: var(--secondaryColor);
}

.titleImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--headerHeight);
  object-fit: cover;
}

@media (min-width: 768px) {
  .titleContainer {
    position: absolute;
    top: 0;
  }

  .tabsContainer {
    position: sticky;
    top: 0;
  }
}
