.gridContainer {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  /*grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));*/
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
}

.articleLink {
  text-decoration: none;
  color: inherit;
}

.card {
  color: black;
  height: fit-content;
  width: 100%;
  /*display: block;*/
  display: inline-block;
  margin-top: 10px;
  transition: 0.25s;
  overflow: hidden;
  cursor: pointer;
  border-radius: 5px;
}

.card::after {
  color: black;
}

.card:hover .cardTitle,
.card:hover .cardCategoryRow {
  filter: brightness(1.08);
}

.cardTitle {
  margin: 0;
  font-weight: 600;
}

.cardHeaderImg {
  width: 100%;
  background-size: cover;
  border-radius: 5px;
  text-align: center;
}

.cardHeaderImgVertical {
  width: 50%;
  background-size: cover;
  border-radius: 5px;
  text-align: center;
}

.card:hover .cardHeaderImg,
.card:hover .cardHeaderImgVertical {
  filter: brightness(1.08);
}

.card-body {
  padding: 1%;
  width: 95%;
}

.date {
  margin: 6px 0;
  font-size: 12px;
  font-weight: 600;
  color: #5a5a5a;
}

.cardCategoryRow {
  text-align: left;
  margin: 6px 0;
  font-size: 12px;
  font-weight: 600;
  color: #5a5a5a;
}

.cardCategoryRow span:first-child {
  margin: 0;
}

.cardCategoryRow span:after {
  content: ', ';
}

.cardCategoryRow span:last-child:after {
  content: '';
}

/* Card list */
.ant-select-selection-item {
  margin: 0;
}

.ant-select-arrow span {
  margin: 0;
}

.ant-select-selection-item span {
  margin: 0;
}
