.sidePanel {
  position: absolute;
  width: calc(var(--sideRightMargin) - 1em - var(--sideRightMargin) / 7);
  height: 100%;
  display: none;
  top: var(--headerHeight);
  padding: 0 calc(var(--sideRightMargin) / 10);
  z-index: 100;
}

@media (min-width: 992px) {
  .side-panel {
    display: inline-block;
  }
}
