NEXT_PUBLIC_BASE_URL=
NODE_ENV=development

DB_USER_VIEWER_NAME=
DB_USER_VIEWER_PW=

DB_USER_EDITOR_NAME=
DB_USER_EDITOR_PW=

DB_NAME=
DB_URL=

NEXT_PUBLIC_INSTAGRAM_ACCESS_TOKEN=
NEXT_PUBLIC_INSTAGRAM_APP_SECRET=
NEXT_PUBLIC_GA_ID=
NEXT_PUBLIC_FB_APP_ID=
NEXT_PUBLIC_GOOGLE_MAP_API_KEY=
NEXT_PUBLIC_GOOGLE_MAP_ID=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
