.socialSidebar {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
}

.socialSidebar a {
  display: inline-block;
  transition: background-color 0.3s ease;
  border-radius: 7px;
  padding: 5px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.socialSidebar a img {
  width: 40px;
  height: 40px;
  border-radius: 7px;
}

.socialSidebar a:hover {
  background-color: var(--secondaryColor);
}
