@media (min-width: 992px) {
  body {
    margin: 0;
    padding: 0;
    --sideLeftMargin: calc(1% + var(--socialMediaIconSize));
    --sideRightMargin: 25%;
    --sideLeftMarginSmall: 1%;
    --sideRightMarginSmall: 1%;
    --headerHeight: 300px;
  }

  ::-webkit-scrollbar {
    appearance: auto;
    -webkit-appearance: none;
    width: 8px;
  }

  .fb-page iframe {
    display: inline-block;
  }

  .side-panel {
    display: inline-block;
  }
}
