/* Header Slider */
.slider-container {
  --sliderHeight: 50vw;
  --sliderSideMargin: 1em;
}

.slider-wrapper {
  border-radius: 3px;
  position: relative;
  width: 100%;
  height: var(--sliderHeight);
  min-width: 300px;
  min-height: 120px;
  overflow: hidden;
  box-shadow: 5px 5px 2px var(--secondaryColor);
  z-index: 5;
  margin-bottom: 1em;
}

.pic {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.pic > div {
  position: unset !important;
}

.pic img {
  filter: brightness(65%);
  object-fit: contain;
  width: 100% !important;
  height: unset !important;
  z-index: 0;
  transition: all 0.5s ease;
}

.slider-link:hover img {
  transform: scale(1.2);
}

.move .pic {
  transition: all .8s ease;
}

.current {
  left: 0;
}

.move.next-dir .current {
  left: -100%;
}

.move.prev-dir .current {
  left: 100%;
}

.next {
  left: 100%; /* 1x the width */
  z-index: -100;
}

.prev {
  left: -100%; /* -1x the width */
  z-index: -100;
}

.move .next {
  left: 0;
}

.move .prev {
  left: 0;
}

.prev-dir .next {
  left: 100%;
}

.next-dir .prev {
  left: -100%;
}

.slider-content {
  position: absolute;
  top: 15%;
  right: 3em;
  left: 3em;
  text-align: center;
  font-size: 2em;
  color: white;
  z-index: 11;
}

.slider-link {
  cursor: pointer;
  z-index: 11;
}

.tooltip {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, 0);
  color: white;
  font-size: 2em;
  opacity: 0;
  transition: all .3s ease-out;
}

.slider-link:hover .tooltip {
  opacity: 1;
}

.arrow {
  border: solid var(--secondaryColor);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transition: 0.3s ease-in-out;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-right: 4px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-left: 4px;
}

.sliderButtons button {
  position: absolute;
  bottom: 0.5em;
  margin: auto;
  width: 3.5em;
  height: 3.5em;
  z-index: 11;
  border-radius: calc(4em + 1px);
  border: 1px solid var(--secondaryColor);
  color: var(--secondaryColor);
  background-color: transparent;
  cursor: pointer;
  outline: 0;
  transition: 0.3s ease-in-out;
}

.sliderButtons button:hover {
  background-color: var(--secondaryColor);
}

.sliderButtons button:hover .arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
}

.sliderButtons button:active {
  transform: scale(0.9);
  transition: 0s ease-in-out;
}

.sliderButtonLeft {
  left: 0.5em;
}

.sliderButtonRight {
  right: 0.5em;
}

.refNavigator {
  position: absolute;
  top: 0;
  width: 1px;
  height: 1px;
}


@media (min-width: 576px) {
  .slider-container {
    --sliderSideMargin: 3.5em;
  }

  .sliderButtons button {
    position: absolute;
    bottom: 0;
    top: 0;
    margin: auto;
  }

  .header-moto {
    font-size: 1.3em;
  }

  .slider-wrapper {
    box-shadow: 8px 8px 2px var(--secondaryColor);
  }

  .sliderButtonLeft {
    left: 1em;
  }

  .sliderButtonRight {
    right: 1em;
  }

}

@media (min-width: 768px) {

  .slider-container {
    --sliderHeight: 47vw;
    --sliderSideMargin: 4em;
  }

  .header-moto {
    font-size: 2em;
  }
}

@media (min-width: 992px) {

  .slider-container {
    --sliderHeight: 34vw;
  }
}

@media (min-width: 1199px) {

  .slider-container {
    --sliderHeight: 33vw;
  }
}

@media (min-width: 1369px) {
  .header-moto {
    font-size: 3em;
  }
}





 